.band1 {
  float: left;
}

.img-left {
  width: 40%;
  height: auto;
  margin-left: 0%;
  margin-right: 60%;
  border: 2px solid green;
  padding: 60px;
}

.band-info-left {
  float: left;
  width: 30%;
  margin-left: 0%;
  border: 2px solid blue;
  background-color: lightyellow;
}

.tour-left {
  float: right;
  width: 30%;
  margin-right: 0%;
  border: 2px solid red;
  background-color: brown;
}





.band2 {
  float: right;
  font-size: 1.5rem;
}


.band-info-right {
  float: right;
  width: 75%;
  background-color: black;
  color: white;

}

.tour-right {
  float: left;
  width: 20%;
  background-color: tomato;
  border: 2px solid teal;


}
.img-right {
  width: 33%;
  padding: 60px;
  border: 2px solid teal;
}
.fancy {
  color: red;
  font-style: italic;
}
body {
  background-color: white;
}
